.root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #af9c81;

}

.timer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50vh;
    width: 75vh;
    background-color: #f8e0e0;
}

.timer {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.todo-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    height: 50vh;
    width: 50vh;
    background-color: #d1c4e9;
}

.stats-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-left: 10px;
    height: 50vh;
    background-color: #b2dfdb;
}